h1    {
    color:white;
      }
 h2   {
    font-family: 'Patrick Hand', cursive;
      }
img   {
     width:275px;
      }
Body  {
     background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg");
    text-align:center;
      }
p     {
    Color:Red;
      }
li    {
    Color:Pink;
      }

      